<p>La cantidad: {{ myShoppingCart.length }}</p>
<p>Precio Total: ${{ total }}</p>
<p>Today: {{ today | date : "short" }}</p>
<!-- fecha actual y le damos un formato corto -->
<p>Otra fecha {{ date | date : "yyyy...dd...MM" }}</p>
<!-- otra fecha que elejimos y le damos nuetro propio formato -->
<p>Today: {{ today | timeAgo }}</p>
<!-- Da la diferencia de la fecha actual con respecto a una elejida-->
<!-- <p> -->
<!-- {{ "hOLA ErICK DanIEl COmO vAs" | uppercase }} -->
<!-- va a transformar toda nuestra cadena a Mayusculas -->
<!-- </p> -->
<!-- <p> -->
<!-- {{ -->
<!-- "Este es un parrafo de prueba, para ver si las letras se cambian a numeros" -->
<!-- | letraNumero -->
<!-- }} -->
<!-- </p> -->

<!-- da un salto de linea -->
<br />

<!-- Esto si es de mi store -->
<button (click)="createNewProduct()">create</button>
<button (click)="onShowDetail('12122')">datail not found</button>

<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="imgMore()">Load more</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDatail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper
      [direction]="'vertical'"
      [slidesPerView]="1"
      [spaceBetween]="30"
      [mousewheel]="true"
      [pagination]="{
        clickable: true
      }"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images"
        ><img [src]="img" alt="" />
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
